.contact-info-map {
	.map-container {
		.placeholder {
			background: #eee;
			color: #888;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 20px;
		}
	}
}
